* {

}
h3{
	margin: 0px;
}
#stats{
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;;
  letter-spacing:0.1em;
	text-align:center;
	/*margin: 40px auto;*/
	text-transform: lowercase;
	/*line-height: 200%;*/
	font-size: 14pt;
	font-variant: small-caps;
	margin-bottom: 10px;
}
.sidebar{
	display: inline-block;
	width: 150px;
	border-right: 1px solid black;
	height: 600px;
}
.sidebar img{
	margin-bottom: 30px;
}
.sidebar a{
	display: block;
	margin: 0px 0px 30px 30px;
}
.sidebar p{
	display: block;
	margin: 0px 0px 30px 30px;
}

.friends{
	display: inline-block;
	/*vertical-align: top;*/
	/*position: center;*/
	/*text-align: center;*/
	background-color: lightgray;
	margin-left: 200px;
}
.friends img{
	display: block;
    margin: 0 auto;
}
.friends p{
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;;
  letter-spacing:0.1em;
	text-align:center;
	/*margin: 40px auto;*/
	text-transform: lowercase;
	line-height: 125%;
	font-size: 14pt;
	font-variant: small-caps;
	width: 600px;
}
.friends button{
	display: block;
    margin: 0 auto;
}
#stats{
	display: inline-block;
	width: 180px;
}
#match{
	margin-left: 300px;
}
#messages{
	display: inline-block;
	vertical-align: top;
}
