<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

     <link rel="stylesheet" href="/static/css/styles.css" type="text/css">


  </head>
  <body>
    <div class="sidebar col-lg-2 col-md-3 col-sm-12 col-xs-12 pull-left">
      <img src="/static/images/logo1.png" alt="logo.png" class="img-circle img-responsive center-block" >
      <ul class="nav nav-pills nav-stacked span3" id="sidebar1">
        <li><a href="/home">Home</a></li><br>
        <li><a href="/messages_page">Messages</a></li><br>
        <li><a href="/profile">Profile</a></li><br>
        <li class="active"><a href="/about">About</a></li><br>
        <li><a href="/contact">Contact Us</a></li><br>
        <li><a href="/team">Team</a></li><br>
        <li><a href="/logout">Log Out</a></li><br>
      </ul>
    </div>

    <div class="about_us col-lg-10">
      <h1 class="text-center">About Us</h1>
      <h3 class="text-center">Every match can change your life</h3>
      <p class="text-center">Founded in January 2016 and based in San Jose, California. Homie is a trusted friendly marketplace for people to discover relationships around the world right from your very own computer.</p>
      <p class="text-center">Homie empowers users around the world to create new connections that otherwise might not be possible and our product will bring people together.</p>
    </div>
  </body>
</html>
