<html>
  <head>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </head>
  <body>
    <script>



  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    //console.log(response)
    if (response.status === 'connected') {
      var clientID = response.authResponse['userID'];
      var token = response.authResponse['accessToken']; 
      var url = 'https://graph.facebook.com/v2.5/' + clientID + '/picture?width=350&height=350';
      FB.api('/me?fields=email,first_name,last_name',function(response) {
        var email = response.email;
        var first_name = response.first_name;
        var last_name = response.last_name;
      //   $('#clientID').val(clientID);
      //   $('#accessToken').val(token);
      //   $('#email1').val(email);
      //   $('#first_name').val(first_name);
      //   $('#last_name').val(last_name);
      //   $('#info').submit();
      // });
        $.ajax({
          method: "POST",
          url: '/process_login',
          data: {clientID: clientID, accessToken: token, email: email, first_name: first_name, last_name: last_name},
          success: function(){
            window.location = "http://localhost:5000/process_home"
          }
          });
       })


    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
        // FB.getLoginStatus(function(response) {
        //   console.log('getLoginStatus')
        //   console.log(response);
        //   statusChangeCallback(response);
        // });
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      console.log('checkLoginState')
      console.log(response)
      statusChangeCallback(response);
      //console.log(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1505977546373199',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });
    FB.Event.subscribe('auth.authResponseChange', function(){
      console.log(0)
    });
    FB.Event.subscribe('auth.statusChange', function(){
      console.log(1)
      // $.ajax({
      //   method: "POST",
      //   url: '/process_login',
      //   data: {clientID: clientID, accessToken: token, email: email, first_name: first_name, last_name: last_name},
      //   success: function(){
      //     window.location = "http://localhost:5000/home/"
      //   }
      // });
    });


  FB.getLoginStatus(function(response) {
    console.log('getLoginStatus')
    console.log(response);
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));


  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1505977546373199";
      fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));
  
   
</script>
    <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"></div>
    <form id="info" action="/process_login">
      <input type="text" id="clientID" value="">
      <input type="hidden" id="accessToken" value="">
      <input type="hidden" id="email1" value="">
      <input type="hidden" id="first_name" value="">
      <input type="hidden" id="last_name" value="">
    </form>
  </div>
</body>
</html>
