<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="sidebar">
      <img src="/static/images/logo1.png" alt="logo.png" class="img-circle">
      <ul class="nav nav-pills nav-stacked span3" id="sidebar1">
        <li><a href="/home">Home</a></li>
        <li><a href="/messages_page">Messages</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/about">About</a></li>
        <li class="active"><a href="/contact">Contact Us</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
   </div>

    <div class="about_us">
      <h1>Contact Us</h1>
      <h3>Feel free to reach us at Coding Dojo where all the ninjas are here to help. Check us out at <br><a href="codingdojo.com">CodingDojo</a> for further inquires or to find Naruto from the Hidden Leaf Village and become part of the ANBU squad</p>
    </div>
  </body>
</html>
