<!DOCTYPE html>
<html>
<head>
	<title>Find Friends</title>


    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">

</head>
<body>

  <div class="sidebar">
    <img src="/static/images/logo1.png" alt="logo.png" class="img-circle">
    <ul class="nav nav-pills nav-stacked span3" id="sidebar1" >
      <li><a href="/home">Home</a></li>

      <li><a href="/messages_page">Messages</a></li>
      <li><a href="/profile" >Profile</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/team">Team</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </div>


	<div class="friends">
		<img src="/static/images/kerrin.png" height="300" width="180">
		
		<form action="/home/{{current_user['id']}}" method="post">
			<input type="submit" class="btn btn-danger btn-sm" value="X" name="is_match">
      <input type="submit" class="btn btn-success btn-lg" value="√" name="is_match">
		</form>

		<br>


		<!-- profile information -->
		<div id="stats">
			<h3>{{current_user['first_name']}} {{current_user['last_name']}} / {{current_user['age']}}</h3>
			<h3>{{distance}} Miles away</h3>
		</div>

    <p>{{current_user['profile_info']}}<p>
		<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
	</div>
</body>
</html>
