<!DOCTYPE html>
<html>
<head>
	<title>Homie - Messages</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
</head>
<body>

	<div class="sidebar col-lg-2 col-md-3 col-sm-3 col-xs-12 pull-left">
			<img src="/static/images/logo1.png" alt="logo.png" class="img-circle img-responsive center-block" >
      <ul class="nav nav-pills nav-stacked span3" id="sidebar1">
        <li><a href="/process_home">Home</a></li><br>
        <li class="active"><a href="/messages_page">Messages</a></li><br>
        <li ><a href="/profile">Profile</a></li><br>
        <li><a href="/about">About</a></li><br>
        <li><a href="/contact">Contact Us</a></li><br>
        <li><a href="/team">Team</a></li><br>
        <li><a href="/logout">Log Out</a></li><br>
      </ul>
    </div>

	<div class="container col-lg-10 col-md-9 col-sm-9 messages" style="inline-block">
		<nav>
		  <ul class="pagination">
		    <li>
		      <a href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li><a href="#">Cliff</a></li>
		    <li><a href="#">Chad</a></li>
		    <li><a href="#">Matthew</a></li>
		    <li><a href="#">Sanjiv</a></li>
		    <li><a href="#">Anuar</a></li>
		    <li>
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>

	<div class="container col-lg-10 col-md-9 col-sm-9 messages" style="inline-block">

		<h1>Leave a message</h1>
		<div class="form-group">
			<form action="/post_message" method="post">
				<input type="textarea" class="form-control" rows="5" name="content" placeholder="No netflix and chill...">

		  		<button class='btn btn-primary pull-right'>Post</button>

		  	</form>
		</div>

			<label> Kerrin wrote:</label>
			<textarea readonly class="form-control" rows="5" name="content">Hey, hows it going? I'm new here. Any good bars you like to hang out at?</textarea>

		<div class="row">
			<div class="col-md-11 pull-right">
				<label> Cliff wrote:</label>
				<textarea readonly class="form-control" rows="5" name="content">Yeah there's this one really cool spot in Santana Row. I'm actually heading there this weekend if you wanna join.</textarea>
			</div>
		</div>
	</div>
</body>
</html>
