<!DOCTYPE html>
<html>
<head>
	<title>Homie - Messages</title>
<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container col-md-2 pull-left sidebar" style="inline-block">
		<img src="/static/images/logo.png" alt="logo"><br>

		<a href="/profile"><button type="button" class="btn btn-primary">Profile</button></a><br>


		<a href="/friends_page"><button type="button" class="btn btn-primary">Find Friends</button></a><br>


		<a><button type="button" class="btn btn-default" disabled="disabled">Messages</button></a>


	</div>
	<div class="container col-md-9 messages" style="inline-block">
		<nav>
		  <ul class="pagination">
		    <li>
		      <a href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li><a href="#">Friend 1</a></li>
		    <li><a href="#">Friend 2</a></li>
		    <li><a href="#">Friend 3</a></li>
		    <li><a href="#">Friend 4</a></li>
		    <li><a href="#">Friend 5</a></li>
		    <li>
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
	
	<div class="container col-md-9" style="inline-block">
		
		<h1>Leave a message for </h1>
		<div class="form-group">
			<form action="/post_message" method="post">
				<input type="textarea" class="form-control" rows="5" name="content">

		  		<button class='btn btn-primary pull-right'>Post</button>

		  	</form>
		</div>
		
			<label> wrote:</label>
			<textarea readonly class="form-control" rows="5" name="content"></textarea>
		
		<div class="row">
			<div class="col-md-11 pull-right">
				<label> wrote:</label>
				<textarea readonly class="form-control" rows="5" name="content"></textarea>
			</div>
		</div>
	</div>
</body>
</html>