<!DOCTYPE html>
<html>
<head>
	<title>Homie - Profile</title>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>


<!-- 	<link rel="stylesheet" href="/static/css/styles.css" type="text/css"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">

    <script>
    $(document).ready(function(){

    	$('#getLoc').click(function(){

			    if (navigator.geolocation) {
			        navigator.geolocation.getCurrentPosition(showPosition);
			    } else {
			        x.innerHTML = "Geolocation is not supported by this browser.";
			    }

    	});

    	$('#about_me').submit(function(){
    		$.post('/about_me', $(this).serialize(), function(res) {});

    		return false;
    	})
    })
    </script>

</head>
<body>

	<!-- <div class="container col-md-12"> -->
	<div class="sidebar col-lg-2 col-md-3 col-sm-12 col-xs-12 pull-left">
      <img src="/static/images/logo1.png" alt="logo.png" class="img-circle img-responsive center-block" >
      <ul class="nav nav-pills nav-stacked span3" id="sidebar1">
        <li><a href="/process_home">Home</a></li><br>
        <li><a href="/messages_page">Messages</a></li><br>
        <li class="active"><a href="/profile">Profile</a></li><br>
        <li><a href="/about">About</a></li><br>
        <li><a href="/contact">Contact Us</a></li><br>
        <li><a href="/team">Team</a></li><br>
        <li><a href="/logout">Log Out</a></li><br>
      </ul>
    </div>

	<div class="form-group col-lg-10 col-md-9 col-sm-12 col-xs-12 pull-right" id="content">
		<!-- <h1 class="text-center">Profile</h1> -->
		<!-- <p class="text-center">Allow Homie to access your location?</p>

		<button class="btn btn-info center-block" id='getLoc'>Allow</button>
			<p id="demo" value='demo'></p>


	<h4 class="text-center text-info">Allow Homie to access your location?</h4>




	<div class="form-group col-md-10">

	<div class="form-group col-md-10 pull-right">

	<!-- <div class="container col-md-12"> -->
		<!-- <div class="sidebar col-md-1.5">
	      <img src="/static/images/logo1.png" alt="logo.png" class="img-circle">
	      <ul class="nav nav-pills nav-stacked span3" id="sidebar1">
	        <li><a href="/home">Home</a></li>
	        <li><a href="/messages_page">Messages</a></li>
	        <li class="active"><a href="/profile">Profile</a></li>
	        <li><a href="/about">About</a></li>
					<li><a href="/contact">Contact Us</a></li>
	        <li><a href="/team">Team</a></li>
	        <li><a href="/logout">Log Out</a></li>
	      </ul>
	  </div> -->

	<div class="form-group col-md-10" id="content">
		<h1 class="text-center">Profile</h1>
		<p class="text-center">Allow Homie to access your location?</p>

		<button class="btn btn-info center-block" id='getLoc'>Allow</button>
			<h3 class="text-center text-success"id="demo" value='demo'></h3>


			<form action="/about_me" method="post" id="location">
				About Me:<input type="textarea" class="form-control" rows="5" name="content" placeholder="Tell me about yourself..."><br>

				<div class="col-xs-2">
				    Age:<input type="text" class="form-control " name="age" placeholder="Age">
			  </div><br><br><br>

				<div class="radio">
				  <label>
				    <input type="radio" name="gender" id="optionsRadios1" value="Male" checked>
				    Male
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="gender" id="optionsRadios2" value="Female">
				    Female
				  </label><br>
				  <input type="hidden" id='lat' name='lat'>
				<input type="hidden" id='long' name='long'>
				</div>
				<button class='btn btn-primary center-block'>Post</button>
			</form>
			<br><br>
			{% for x in about %}
			{% if x['profile_info'] != ''%}
			<textarea class="form-control" type="text" placeholder="About you!" readonly>{{ x['profile_info'] }}</textarea>
			{% endif %}
			{% endfor %}

<br><br><br>
			<!-- <form id='location'>
				<input id='lat' name='lat'>
				<input id='long' name='long'>
				<input type='submit' value'submit'>
			</form> -->
<!-- Below section used to determine the Longitude/Latitude -->
				<!-- <p>Allow Homie to access your location?</p> -->

<!-- <button class="btn btn-info" id='getLoc'>Allow</button> -->
			<!-- <p id="demo" value='demo'></p> -->
			<!-- <input id="demo"> -->

			<script>
			var x = document.getElementById("demo");
			// function getLocation() {
			//     if (navigator.geolocation) {
			//         navigator.geolocation.getCurrentPosition(showPosition);
			//     } else {
			//         x.innerHTML = "Geolocation is not supported by this browser.";
			//     }
			// }
			function showPosition(position) {
				var latitude = position.coords.latitude
				var longitude = position.coords.longitude
				// $.alert(latitude)

				$('#long').val(longitude);
				$('#lat').val(latitude);



			    x.innerHTML = "Thank you for sharing your location!"


			}
			// ajax
				// $.ajax({
			 //        type: "POST",
			 //        url: "/location",
			 //        data:{latitude: latitude, longitude: longitude}

			        // success: function(msg) {
			            // $("#pass_location").val();
			        // }
			    // });
			    // console.log(data)
			// ajax

			</script>
<!-- Geolocation done -->


		  	</form>
		</div>
</body>
</html>
