<!DOCTYPE html>
<html>
<head>
	<title>Homie - Register</title>
<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
   <div class='container'>
   <div class='row'>
       <div class='col-md-6'>
         {% with messages = get_flashed_messages() %}
           {% if messages %}
             {% for message in messages %}
               <p>{{message}}</p>
             {% endfor %}
           {% endif %}
         {% endwith %}
         <h1>Registration</h1>
         <!-- <div class='row'> -->
         <form action='/register' method='post'>

           <div class="form-group">
             <label for="firstname">First Name:</label>
             <input type="text" class="form-control" id="firstname" name='first_name'>
           </div>

           <div class="form-group">
             <label for="lastname">Last Name:</label>
             <input type="text" class="form-control" id="lastname" name='last_name'>
           </div>

           <div class="form-group">
             <label for="email">Email address:</label>
             <input type="email" class="form-control" id="email" name='email'>
           </div>

           <div class="form-group">
             <label for="password">Password:</label>
             <input type="password" class="form-control" id="password" name='password'>
           </div>

           <div class="form-group">
             <label for="confirmpassword">Confirm Password:</label>
             <input type="password" class="form-control" id="confirm_password" name='confirm_password'>
           </div>
           <button type="submit" class="btn btn-default">Register</button>
       </form>
       </div>

</body>
</html>