<!DOCTYPE html>
<html lang="en">
​
<head>
​
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
​
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
​
    <title>Team</title>
​
    <!-- Bootstrap Core CSS -->

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
​
<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <div class="sidebar col-lg-2 col-md-3 col-sm-3 col-xs-12 pull-left">
      <img src="/static/images/logo1.png" alt="logo.png" class="img-circle img-responsive center-block" >
      <ul class="nav nav-pills nav-stacked span3" id="sidebar1">
        <li><a href="/process_home">Home</a></li><br>
        <li><a href="/messages_page">Messages</a></li><br>
        <li><a href="/profile">Profile</a></li><br>
        <li><a href="/about">About</a></li><br>
        <li><a href="/contact">Contact Us</a></li><br>
        <li class="active"><a href="/team">Team</a></li><br>
        <li><a href="/logout">Log Out</a></li><br>
      </ul>
    </div>

    <div id="team" class=" col-lg-10 col-md-9 col-sm-9 center-block">
            <div class="container col-md-10">
                <div class="row">

                    <div class="col-lg-12 text-center" id="title">
                      <h1>Meet the Team</h1>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-3 col-md-offset-2">
                        <div class="team-member">
                            <img src="/static/images/kerrin2.png" class="img-responsive img-circle center-block" alt="" data-toggle="modal" data-target="#kerrin_modal" style="cursor:pointer;">
                            <h3>Kerrin</h3>
                            <ul class="list-inline social-buttons">
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member">
                            <img src="/static/images/cliff.png" class="img-responsive img-circle center-block" alt="" data-toggle="modal" data-target="#cliff_modal" style="cursor:pointer;">
                            <h3>Cliff</h3>
                            <ul class="list-inline social-buttons">
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member">
                            <img src="/static/images/chad.png" class="img-responsive img-circle center-block" alt="" data-toggle="modal" data-target="#chad_modal" style="cursor:pointer;">
                            <h3>Chad</h3>
                            <ul class="list-inline social-buttons">
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-3">
                        <div class="team-member">
                            <img src="/static/images/matthew.png" class="img-responsive img-circle center-block" alt="" data-toggle="modal" data-target="#matt_modal" style="cursor:pointer;">
                           <h3>Matthew</h3>
                            <ul class="list-inline social-buttons">
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div class="team-member">
                            <img src="/static/images/sanjiv2.png"class="img-responsive img-circle center-block" alt="" data-toggle="modal" data-target="#sanjiv_modal" style="cursor:pointer;">
                            <h3>Sanjiv</h3>
                            <ul class="list-inline social-buttons">
                            </ul>
                        </div>
                    </div>
                </div>
    </section>
​
<div class="modal fade" id="sanjiv_modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sanjiv's Biography</h4>
        </div>
        <div class="modal-body">
          <p><strong>Do not play this guy in ping pong, I REPEAT do not play him...whats "DRY"?<strong>.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
</div>
<div class="modal fade" id="matt_modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Matthew's Biography</h4>
        </div>
        <div class="modal-body">
          <p><strong>Founder<strong>.</p>
          <p>Takes the red pill and the blue pill when going into the Matrix</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
</div>
<div class="modal fade" id="chad_modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Chad's Biography</h4>
        </div>
        <div class="modal-body">
          <p><strong>Founder<strong>.</p>
          <p>After clocking in over 48 hours working Facebook API, he can never see the Facebook the same again</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
</div>
<div class="modal fade" id="cliff_modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cliff's Biography</h4>
        </div>
        <div class="modal-body">
          <p><strong>Founder<strong>.</p>
          <p>When he's not working with queries he performs self-joins on himself</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
</div>
<div class="modal fade" id="kerrin_modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title"> Kerrin's Biography</h2>
        </div>
        <div class="modal-body">
          <p><strong>Founder<strong>.</p>
          <p>When he's not practicing the art of algorithms, he likes to do more algorithms</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
</div>
​
</body>
</html>

